{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Welcome, {{ user.username }}</h1>
    <p>Add cars for selling.</p>

    <!-- Add Car Form -->
    <div>
        <h2>Add a New Car</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="id_image">Upload Images:</label>
            <input type="file" name="image" id="id_image" multiple required>
            <button type="submit">Add Car</button>
        </form>
    </div>
</div>
{% endblock %}