{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ApexMotors - Sports Car Marketplace</title>
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
    <link rel="stylesheet" href="{% static 'styles/add_car.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cars.css' %}">
    <link rel="stylesheet" href="{% static 'styles/delete_car.css' %}">
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
    <link rel="stylesheet" href="{% static 'styles/edit_car.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pages.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    {% include 'includes/navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}
</body>

</html>