{% extends 'base.html' %}

{% block content %}
<div class="form-container">
  <h2>Login</h2>



  <form method="post" class="login-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-field">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <span class="error">{{ field.errors|join:" " }}</span>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="login_btn">Login</button>

    {% if form.non_field_errors %}
      <p class="error">{{ form.non_field_errors|join:" " }}</p>
    {% endif %}

  </form>


  <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}