{% extends 'base.html' %}

{% block content %}
<div>
  <h2>Login</h2>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <span>{{ field.errors|join:" " }}</span>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Login</button>

    {% if form.non_field_errors %}
      <p>{{ form.non_field_errors|join:" " }}</p>
    {% endif %}

  </form>


  <p >Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}